version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: streamingflixdb
    environment:
      POSTGRES_DB: jdbc:postgresql://db:5432/streamingflixdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: